input{
    font-style: italic;
    background-color: transparent;
    border:none;
    box-shadow: none;
    border-bottom-color: white;
    border-bottom-style: solid;
    font-size: 30px;
    color:white;
    text-transform: uppercase;
}
input:focus{
    outline: none;
}
.hidden-span{
    font-style: italic;
    visibility: hidden;
    font-size: 30px;
    padding: 0 5px 0 1px;
}